@import  "/home/lillian/.cache/wal/colors-waybar.css";

* {
  font-family: Maple Mono;
  background: transparent;
  color: @color7;
}

#window {
  color: @color7;
  background-color: @color1;
  border-color: @color6;
  border-style: solid;
  border-top-style: none;
  border-width: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.85;

  background-image: linear-gradient(to bottom, @background 100%);
}

#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: @color7;
}

#inner_box {
  padding-top: 12px;
}

#entry {
  border-style: none;
  border-color: @color6;
  background-image: transparent;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;

  border-radius: 12px;
}

#entry:selected {
  background-image: linear-gradient(to bottom, @background 100%);
  color: @color0;
  font-weight: bold;
  outline-style: solid;
  outline-color: @color7;
  margin: 5px;
}

#input {
  background-color: @color7;
  color: @color0;
  border-color: @color6;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}

#input:focus {
  background: @color7;
  background-color: @color7;
  border-color: @color1;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
